<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Man with Van Services South Wales </title>

<!-- ABOUT -->
<section class="about" id="about">

  <!-- CENTRED LOGO -->
  <div class="about-logo">

    <img src="Logo.jpg" alt="Logo">

  </div>

  <!-- ABOUT TEXT -->
  <div class="about-text">

    <h2>About Us</h2>

    <p>
      We provide professional painting and decorating services
      for homes and businesses across Cardiff.
    </p>

    <h2>Our Vision</h2>

    <p>
      We focus on quality finishes, reliability,
      and excellent customer service.
    </p>

  </div>

  <!-- GOOGLE MAP -->
  <div class="map-box">

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19867.583562069027!2d-3.143025967147556!3d51.50499744598556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1d04cf984f53%3A0x8a9d7461ee7eb52f!2sRumney!5e0!3m2!1sen!2suk!4v1779616250011!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      width="100%"
      height="400"
      style="border:0;"
      allowfullscreen=""
      loading="lazy">
    </iframe>

  </div>
</section>