<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Man with Van Services South Wales</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="Styling.css">
</head>

<body>

<!-- TOP NAVIGATION -->
  <div class="topnav">

    <!-- CONTACT -->
<section class="contact" id="contact">

  <h2>Contact Us</h2>

  <div class="contact-container">

    <!-- LEFT LOGO -->
    <div class="contact-logo">

      <img src="Logo.jpg" alt="Logo">

    </div>

    <!-- RIGHT CONTACT INFO -->
    <div class="contact-info">

      <p>
          <i class="fa fa-envelope"></i>
          mrj330@hotmail.co.uk
        </p>

        <p>
          <i class="fa fa-phone"></i>
          07429477061
        </p>

      <p>
        <i class="fa fa-map-marker"></i>
        Rumney, Cardiff
      </p>

    </div>

  </div>
</section>

<!-- FOOTER -->
  <footer id="footer">

    <p>
      © 2026 Man with Van Services South Wales - Created by Rosaria Bowes
    </p>

  </footer>

  <script src="script.js"></script>

</body>

</html>